<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mofangyouxuan.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.mofangyouxuan.model.Goods">
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="partner_id" jdbcType="INTEGER" property="partnerId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />
    <result column="main_img_path" jdbcType="VARCHAR" property="mainImgPath" />
    <result column="carousel_img_paths" jdbcType="VARCHAR" property="carouselImgPaths" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="vender" jdbcType="VARCHAR" property="vender" />
    <result column="saled_cnt" jdbcType="INTEGER" property="saledCnt" />
    <result column="stock_sum" jdbcType="INTEGER" property="stockSum" />
    <result column="price_lowest" jdbcType="DECIMAL" property="priceLowest" />
    <result column="spec_detail" jdbcType="VARCHAR" property="specDetail" />
    <result column="limited_num" jdbcType="INTEGER" property="limitedNum" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="refund_limit" jdbcType="INTEGER" property="refundLimit" />
    <result column="postage_ids" jdbcType="VARCHAR" property="postageIds" />
    <result column="update_opr" jdbcType="INTEGER" property="updateOpr" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="review_result" jdbcType="CHAR" property="reviewResult" />
    <result column="review_log" jdbcType="VARCHAR" property="reviewLog" />
    <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <resultMap id="BaseResultMapWithPartner" type="com.mofangyouxuan.model.Goods">
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="partner_id" jdbcType="INTEGER" property="partnerId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />
    <result column="main_img_path" jdbcType="VARCHAR" property="mainImgPath" />
    <result column="carousel_img_paths" jdbcType="VARCHAR" property="carouselImgPaths" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="vender" jdbcType="VARCHAR" property="vender" />
    <result column="saled_cnt" jdbcType="INTEGER" property="saledCnt" />
    <result column="stock_sum" jdbcType="INTEGER" property="stockSum" />
    <result column="price_lowest" jdbcType="DECIMAL" property="priceLowest" />
    <result column="spec_detail" jdbcType="VARCHAR" property="specDetail" />
    <result column="limited_num" jdbcType="INTEGER" property="limitedNum" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
     <result column="refund_limit" jdbcType="INTEGER" property="refundLimit" />
    <result column="postage_ids" jdbcType="VARCHAR" property="postageIds" />
    <result column="update_opr" jdbcType="INTEGER" property="updateOpr" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="review_result" jdbcType="CHAR" property="reviewResult" />
    <result column="review_log" jdbcType="VARCHAR" property="reviewLog" />
    <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    	<association property="partner" column="partner_id" javaType="com.mofangyouxuan.model.PartnerBasic" >
	    <id column="partner_id" jdbcType="INTEGER" property="partnerId" />
	    <result column="vip_id" jdbcType="INTEGER" property="vipId" />
	    <result column="pb_tp" jdbcType="VARCHAR" property="pbTp" />
	    <result column="country" jdbcType="VARCHAR" property="country" />
	    <result column="province" jdbcType="VARCHAR" property="province" />
	    <result column="city" jdbcType="VARCHAR" property="city" />
	    <result column="area" jdbcType="VARCHAR" property="area" />
	    <result column="addr" jdbcType="VARCHAR" property="addr" />
	    <result column="busi_name" jdbcType="VARCHAR" property="busiName" />
	    <result column="legal_pername" jdbcType="VARCHAR" property="legalPername" />
	    <result column="legal_peridno" jdbcType="VARCHAR" property="legalPeridno" />
	    <result column="comp_name" jdbcType="VARCHAR" property="compName" />
	    <result column="comp_type" jdbcType="CHAR" property="compType" />
	    <result column="licence_no" jdbcType="VARCHAR" property="licenceNo" />
	    <result column="phone" jdbcType="VARCHAR" property="phone" />
	    <result column="location_x" jdbcType="DECIMAL" property="locationX" />
	    <result column="location_y" jdbcType="DECIMAL" property="locationY" />
	    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
	    <result column="partner_status" jdbcType="CHAR" property="status" />
	    <result column="distance" jdbcType="DECIMAL" property="distance"/>
	</association>
  </resultMap>
  <sql id="Base_Column_List">
    g.goods_id, g.partner_id, g.category_id,g.goods_name, g.goods_desc, g.main_img_path,g.carousel_img_paths,g.place,g.vender,
    g.saled_cnt, g.stock_sum, g.price_lowest, g.spec_detail,g.limited_num, g.begin_time,  g.end_time, g.refund_limit,
    g.postage_ids, g.update_opr, g.update_time, 
    g.review_result, g.review_log, g.review_time, g.status, g.memo
  </sql>
  <sql id="Base_Column_Partner">
    p.vip_id, pb_tp,p.country, p.province, p.city, p.area, p.addr, p.busi_name, p.legal_pername, p.legal_peridno, 
    p.comp_type, p.comp_name, p.licence_no, p.phone, p.location_x, p.location_y, p.introduce,p.status partner_status

  </sql>
    
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMapWithPartner">
    select 
    <include refid="Base_Column_List" />
    <if test="needPartner != null">
    , <include refid="Base_Column_Partner" />, '0' as distance 
    </if>
    from tb_goods_info g 
    join tb_partner_basic p on g.partner_id = p.partner_id
    where g.goods_id = #{goodsId,jdbcType=INTEGER}
    <if test="isSelf == null or isSelf == false">
    and p.status = 'S' and g.status='1' and g.review_result = '1'
    </if>
  </select>
   
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.mofangyouxuan.model.Goods" keyProperty="goodsId" useGeneratedKeys="true">
    insert into tb_goods_info (goods_id, partner_id, category_id,goods_name, 
      goods_desc, main_img_path, carousel_img_paths,place,vender,saled_cnt, stock_sum,price_lowest,spec_detail, 
      limited_num, begin_time, end_time, refund_limit,postage_ids, update_time, update_opr,
      review_result, review_log, review_time, 
      status, memo)
    values (#{goodsId,jdbcType=INTEGER}, #{partnerId,jdbcType=INTEGER},#{categoryId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, 
      #{goodsDesc,jdbcType=VARCHAR}, #{mainImgPath,jdbcType=VARCHAR}, #{carouselImgPaths,jdbcType=VARCHAR}, 
      #{place,jdbcType=VARCHAR},#{vender,jdbcType=VARCHAR}, #{saledCnt,jdbcType=INTEGER}, #{stockSum,jdbcType=INTEGER}, 
      #{priceLowest,jdbcType=DECIMAL},#{specDetail,jdbcType=VARCHAR},
      #{limitedNum,jdbcType=INTEGER}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{refundLimit,jdbcType=INTEGER},
      #{postageIds,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateOpr,jdbcType=INTEGER},
      #{reviewResult,jdbcType=CHAR}, #{reviewLog,jdbcType=VARCHAR},  #{reviewTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=CHAR}, #{memo,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.mofangyouxuan.model.Goods">
    update tb_goods_info
    <set>
      <if test="partnerId != null">
        partner_id = #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        goods_desc = #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="mainImgPath != null">
        main_img_path = #{mainImgPath,jdbcType=VARCHAR},
      </if>
      <if test="carouselImgPaths != null">
        carousel_img_paths = #{carouselImgPaths,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="vender != null">
        vender = #{vender,jdbcType=VARCHAR},
      </if>            
      <if test="saledCnt != null">
        saled_cnt = #{saledCnt,jdbcType=INTEGER},
      </if>            
      <if test="stockSum != null">
        stock_sum = #{stockSum,jdbcType=INTEGER},
      </if>
      <if test="priceLowest != null">
        price_lowest = #{priceLowest,jdbcType=DECIMAL},
      </if>
      <if test="specDetail != null">
        spec_detail = #{specDetail,jdbcType=VARCHAR},
      </if>            
      <if test="limitedNum != null">
        limited_num = #{limitedNum,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundLimit != null">
        refund_limit = #{refundLimit,jdbcType=INTEGER},
      </if>      
      <if test="postageIds != null">
        postage_ids = #{postageIds,jdbcType=VARCHAR},
      </if>
      <if test="updateOpr != null">
        update_opr = #{updateOpr,jdbcType=INTEGER},
      </if>      
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewResult != null">
        review_result = #{reviewResult,jdbcType=CHAR},
      </if>
      <if test="reviewLog != null">
        review_log = #{reviewLog,jdbcType=VARCHAR},
      </if>
      <if test="reviewTime != null">
        review_time = #{reviewTime,jdbcType=TIMESTAMP},
      </if>      
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>

  <sql id="whereSql">
    <where>
      <if test="params.goodsId != null">
        and g.goods_id = #{goodsId,jdbcType=INTEGER}
      </if>
      <if test="params.partnerId != null">
        and g.partner_id = #{params.partnerId,jdbcType=INTEGER}
      </if>
      <if test="params.categoryId != null">
        and g.category_id = #{params.categoryId,jdbcType=INTEGER}
      </if>       
      <if test="params.goodsName != null">
        and g.goods_name like concat('%',#{params.goodsName,jdbcType=VARCHAR},'%')
      </if>
      <if test="params.city != null">
        and p.city = #{params.city,jdbcType=VARCHAR}
      </if> 
      <if test="params.city == null"><!-- 默认全国 -->
        and (select count(1) from tb_postage_tpl t where g.partner_id = t.partner_id and t.is_city_wide='0') &gt; 0 
      </if>
      <if test="params.area != null">
        and p.area = #{params.area,jdbcType=VARCHAR}
      </if>      
      <if test="params.postageId != null">
        and LOCATE(concat(',',#{params.postageId,jdbcType=INTEGER},','),g.postage_ids) &gt; 0
      </if>
      <if test="params.reviewResult != null">
        and g.review_result = #{params.reviewResult,jdbcType=CHAR}
      </if>
      <if test="params.status != null">
        and g.status = #{params.status,jdbcType=CHAR}
      </if>
      <if test="params.partnerStatus != null">
        and p.status = #{params.partnerStatus,jdbcType=CHAR}
      </if>
    </where>
  </sql>
  
  <select id="countAll" parameterType="map" resultType="int">
    select count(1)
    from tb_goods_info g 
    join tb_partner_basic p on g.partner_id = p.partner_id
    <include refid="whereSql" />
  </select> 

  
  <select id="selectAll" parameterType="map" resultMap="BaseResultMapWithPartner">
    select 
     <include refid="Base_Column_List" />
     <if test="params.needPartner != null">
	     ,<include refid="Base_Column_Partner" />
	     <if test="params.city != null">
	       <if test="params.currUserLocX != null and params.currUserLocY != null ">
	        , getdistance(#{params.currUserLocX,jdbcType=DECIMAL}, #{params.currUserLocY,jdbcType=DECIMAL}, p.location_x, p.location_y) distance 
	       </if>
	       <if test="params.currUserLocX == null and params.currUserLocY == null ">
	        , '' distance
	       </if>
	     </if>
	     <if test="params.city == null ">
	       , '' as distance
	     </if>
     </if>
    from tb_goods_info g 
    join tb_partner_basic p on g.partner_id = p.partner_id
    <include refid="whereSql"/>
    <if test="sorts != null">
      ${sorts} 
    </if>
    limit #{pageCond.begin},#{pageCond.pageSize}
  </select>
  
  <select id="countUsePostageCnt" parameterType="long" resultType="int">
   select count(1) cnt
   from tb_goods_info
   where LOCATE(concat(',',#{postageId,jdbcType=INTEGER},','),postage_ids) &gt; 0
  </select>
  
</mapper>
