<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mofangyouxuan.mapper.OperateLogMapper">
  <resultMap id="BaseResultMap" type="com.mofangyouxuan.model.OperateLog">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="opr_time" jdbcType="TIMESTAMP" property="oprTime" />
    <result column="auth" jdbcType="VARCHAR" property="auth" />
  </resultMap>
  <insert id="insert" parameterType="com.mofangyouxuan.model.OperateLog">
    insert into tb_operate_log (user_id, ip, url, 
      opr_time, auth)
    values (#{userId,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{oprTime,jdbcType=TIMESTAMP}, #{auth,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mofangyouxuan.model.OperateLog">
    insert into tb_operate_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="oprTime != null">
        opr_time,
      </if>
      <if test="auth != null">
        auth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="oprTime != null">
        #{oprTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auth != null">
        #{auth,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>