<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mofangyouxuan.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.mofangyouxuan.model.Order">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_spec" jdbcType="VARCHAR" property="goodsSpec" />
    <result column="carrage" jdbcType="DECIMAL" property="carrage" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="dispatch_mode" jdbcType="CHAR" property="dispatchMode" />
    <result column="postage_id" jdbcType="INTEGER" property="postageId" />
    <result column="recv_name" jdbcType="VARCHAR" property="recvName" />
    <result column="recv_phone" jdbcType="VARCHAR" property="recvPhone" />
    <result column="recv_country" jdbcType="VARCHAR" property="recvCountry" />
    <result column="recv_province" jdbcType="VARCHAR" property="recvProvince" />
    <result column="recv_city" jdbcType="VARCHAR" property="recvCity" />
    <result column="recv_area" jdbcType="VARCHAR" property="recvArea" />
    <result column="recv_addr" jdbcType="VARCHAR" property="recvAddr" />
    <result column="logistics_comp" jdbcType="VARCHAR" property="logisticsComp" />
    <result column="logistics_no" jdbcType="VARCHAR" property="logisticsNo" />
    <result column="logistics" jdbcType="LONGVARCHAR" property="logistics" />
    <result column="send_opr" jdbcType="INTEGER" property="sendOpr" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="sign_user" jdbcType="VARCHAR" property="signUser" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="signTime" />
    <result column="score_logistics" jdbcType="INTEGER" property="scoreLogistics" />
    <result column="score_goods" jdbcType="INTEGER" property="scoreGoods" />
    <result column="score_merchant" jdbcType="INTEGER" property="scoreMerchant" />
    <result column="appraise_status" jdbcType="CHAR" property="appraiseStatus" />
    <result column="appraise_time" jdbcType="TIMESTAMP" property="appraiseTime" />
    <result column="score_user" jdbcType="INTEGER" property="scoreUser" />
    <result column="appr_user" jdbcType="LONGVARCHAR" property="apprUser" />
    <result column="appr_user_time" jdbcType="TIMESTAMP" property="apprUserTime" />
    
    <result column="aftersales_apply_time" jdbcType="TIMESTAMP" property="aftersalesApplyTime" />
    <result column="aftersales_deal_time" jdbcType="TIMESTAMP" property="aftersalesDealTime" />
    <result column="appraise_info" jdbcType="LONGVARCHAR" property="appraiseInfo" />
    <result column="aftersales_reason" jdbcType="LONGVARCHAR" property="aftersalesReason" />
    <result column="aftersales_result" jdbcType="LONGVARCHAR" property="aftersalesResult" />
    
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_main_img_path" jdbcType="VARCHAR" property="goodsMainImgPath" />
    <result column="partner_id" jdbcType="INTEGER" property="partnerId" />
    <result column="partner_busi_name" jdbcType="VARCHAR" property="partnerBusiName" />
    <result column="refund_limit" jdbcType="INTEGER" property="goodsRefundLimit" />
    
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="headimgpath" jdbcType="VARCHAR" property="headimgpath" />
    <result column="mchtUId" jdbcType="INTEGER" property="mchtUId"/>
  </resultMap>
  
  <sql id="Column_List_Base">
    o.order_id, o.user_id, o.goods_id, o.goods_spec, o.carrage, o.amount, o.create_time, o.remark, o.status, 
    o.dispatch_mode, o.postage_id,o.send_opr, o.send_time, o.sign_user, o.sign_time
  </sql>
  <sql id="Column_List_Receiver">
    o.recv_name, o.recv_phone, o.recv_country, o.recv_province, o.recv_city,  o.recv_area, o.recv_addr
  </sql>  
  <sql id="Column_List_Logistics">
    o.logistics_comp, o.logistics_no,o.logistics
  </sql>  
  <sql id="Column_List_Appr"> 
    o.score_logistics, o.score_goods, o.score_merchant, o.appraise_info, o.appraise_time,o.appraise_status,o.score_user,o.appr_user,o.appr_user_time
  </sql>
  <sql id="Column_List_AfterSales">
    o.aftersales_apply_time, o.aftersales_deal_time, o.aftersales_reason, o.aftersales_result
  </sql> 
  <sql id="Column_List_GoodsAndUser">
    g.goods_name,g.main_img_path goods_main_img_path,g.partner_id,g.refund_limit,p.busi_name partner_busi_name,p.vip_id mchtUId,
    u.phone user_phone,u.nickname,u.headimgurl
  </sql> 
  
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Column_List_Base" />
    <if test="params.needReceiver != null">
    ,<include refid="Column_List_Receiver" />
    </if>
    <if test="params.needLogistics != null">
    ,<include refid="Column_List_Logistics" />
    </if>
    <if test="params.needAppr != null">
    ,<include refid="Column_List_Appr" />
    </if>
    <if test="params.needAfterSales != null">
    ,<include refid="Column_List_AfterSales" />
    </if>
    <if test="params.needGoodsAndUser != null">
    ,<include refid="Column_List_GoodsAndUser" />
    </if>
    from tb_order_info o 
     join tb_goods_info g on o.goods_id = g.goods_id 
     join tb_partner_basic p on g.partner_id = p.partner_id 
     join tb_user_basic u on o.user_id = u.user_id 
    where o.order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="string">
    delete from tb_order_info
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.mofangyouxuan.model.Order" >
    insert into tb_order_info (order_id, user_id, goods_id, 
      goods_spec, carrage, amount, 
      create_time, remark, status, 
      dispatch_mode, postage_id, recv_name, 
      recv_phone, recv_country, recv_province, 
      recv_city, recv_area, recv_addr, 
      logistics_comp, logistics_no,logistics, send_opr,send_time, 
      sign_user, sign_time, score_logistics, 
      score_goods, score_merchant, appraise_status, 
      appraise_time, aftersales_apply_time, 
      score_user,appr_user_time,appr_user,
      aftersales_deal_time, appraise_info, 
      aftersales_reason, aftersales_result
      )
    values (#{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{goodsSpec,jdbcType=VARCHAR}, #{carrage,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{dispatchMode,jdbcType=CHAR}, #{postageId,jdbcType=INTEGER}, #{recvName,jdbcType=VARCHAR}, 
      #{recvPhone,jdbcType=VARCHAR}, #{recvCountry,jdbcType=VARCHAR}, #{recvProvince,jdbcType=VARCHAR}, 
      #{recvCity,jdbcType=VARCHAR}, #{recvArea,jdbcType=VARCHAR}, #{recvAddr,jdbcType=VARCHAR}, 
      #{logisticsComp,jdbcType=VARCHAR}, #{logisticsNo,jdbcType=VARCHAR},#{logistics,jdbcType=LONGVARCHAR}, 
      #{sendOpr,jdbcType=INTEGER}, #{sendTime,jdbcType=TIMESTAMP}, 
      #{signUser,jdbcType=VARCHAR}, #{signTime,jdbcType=TIMESTAMP}, #{scoreLogistics,jdbcType=INTEGER}, 
      #{scoreGoods,jdbcType=INTEGER}, #{scoreMerchant,jdbcType=INTEGER}, #{appraiseStatus,jdbcType=CHAR}, 
      #{appraiseTime,jdbcType=TIMESTAMP}, #{aftersalesApplyTime,jdbcType=TIMESTAMP}, 
      #{scoreUser,jdbcType=INTEGER}, #{apprUserTime,jdbcType=TIMESTAMP}, #{apprUser,jdbcType=LONGVARCHAR}, 
      #{aftersalesDealTime,jdbcType=TIMESTAMP}, #{appraiseInfo,jdbcType=LONGVARCHAR}, 
      #{aftersalesReason,jdbcType=LONGVARCHAR}, #{aftersalesResult,jdbcType=LONGVARCHAR}
      )
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.mofangyouxuan.model.Order">
    update tb_order_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsSpec != null">
        goods_spec = #{goodsSpec,jdbcType=VARCHAR},
      </if>
      <if test="carrage != null">
        carrage = #{carrage,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="dispatchMode != null">
        dispatch_mode = #{dispatchMode,jdbcType=CHAR},
      </if>
      <if test="postageId != null">
        postage_id = #{postageId,jdbcType=INTEGER},
      </if>
      <if test="recvName != null">
        recv_name = #{recvName,jdbcType=VARCHAR},
      </if>
      <if test="recvPhone != null">
        recv_phone = #{recvPhone,jdbcType=VARCHAR},
      </if>
      <if test="recvCountry != null">
        recv_country = #{recvCountry,jdbcType=VARCHAR},
      </if>
      <if test="recvProvince != null">
        recv_province = #{recvProvince,jdbcType=VARCHAR},
      </if>
      <if test="recvCity != null">
        recv_city = #{recvCity,jdbcType=VARCHAR},
      </if>
      <if test="recvArea != null">
        recv_area = #{recvArea,jdbcType=VARCHAR},
      </if>
      <if test="recvAddr != null">
        recv_addr = #{recvAddr,jdbcType=VARCHAR},
      </if>
      <if test="logisticsComp != null">
        logistics_comp = #{logisticsComp,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNo != null">
        logistics_no = #{logisticsNo,jdbcType=VARCHAR},
      </if>
      <if test="logistics != null">
        logistics = #{logistics,jdbcType=LONGVARCHAR},
      </if>
      <if test="sendOpr != null">
        send_opr = #{sendOpr,jdbcType=INTEGER},
      </if>      
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signUser != null">
        sign_user = #{signUser,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        sign_time = #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scoreLogistics != null">
        score_logistics = #{scoreLogistics,jdbcType=INTEGER},
      </if>
      <if test="scoreGoods != null">
        score_goods = #{scoreGoods,jdbcType=INTEGER},
      </if>
      <if test="scoreMerchant != null">
        score_merchant = #{scoreMerchant,jdbcType=INTEGER},
      </if>
      <if test="appraiseStatus != null">
        appraise_status = #{appraiseStatus,jdbcType=CHAR},
      </if>
      <if test="appraiseTime != null">
        appraise_time = #{appraiseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scoreUser != null">
        score_user = #{scoreUser,jdbcType=INTEGER},
      </if>
      <if test="apprUser != null">
        appr_user = #{apprUser,jdbcType=LONGVARCHAR},
      </if>
      <if test="apprUserTime != null">
        appr_user_time = #{apprUserTime,jdbcType=TIMESTAMP},
      </if>      
      <if test="aftersalesApplyTime != null">
        aftersales_apply_time = #{aftersalesApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="aftersalesDealTime != null">
        aftersales_deal_time = #{aftersalesDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appraiseInfo != null">
        appraise_info = #{appraiseInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="aftersalesReason != null">
        aftersales_reason = #{aftersalesReason,jdbcType=LONGVARCHAR},
      </if>
      <if test="aftersalesResult != null">
        aftersales_result = #{aftersalesResult,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.mofangyouxuan.model.Order">
    update tb_order_info
    set user_id = #{userId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_spec = #{goodsSpec,jdbcType=VARCHAR},
      carrage = #{carrage,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      dispatch_mode = #{dispatchMode,jdbcType=CHAR},
      postage_id = #{postageId,jdbcType=INTEGER},
      recv_name = #{recvName,jdbcType=VARCHAR},
      recv_phone = #{recvPhone,jdbcType=VARCHAR},
      recv_country = #{recvCountry,jdbcType=VARCHAR},
      recv_province = #{recvProvince,jdbcType=VARCHAR},
      recv_city = #{recvCity,jdbcType=VARCHAR},
      recv_area = #{recvArea,jdbcType=VARCHAR},
      recv_addr = #{recvAddr,jdbcType=VARCHAR},
      logistics_comp = #{logisticsComp,jdbcType=VARCHAR},
      logistics_no = #{logisticsNo,jdbcType=VARCHAR},
      logistics = #{logistics,jdbcType=LONGVARCHAR},
      send_opr = #{sendOpr,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      sign_user = #{signUser,jdbcType=VARCHAR},
      sign_time = #{signTime,jdbcType=TIMESTAMP},
      score_logistics = #{scoreLogistics,jdbcType=INTEGER},
      score_goods = #{scoreGoods,jdbcType=INTEGER},
      score_merchant = #{scoreMerchant,jdbcType=INTEGER},
      appraise_status = #{appraiseStatus,jdbcType=CHAR},
      appraise_time = #{appraiseTime,jdbcType=TIMESTAMP},
      score_user = #{scoreUser,jdbcType=INTEGER},
      appr_user = #{apprUser,jdbcType=LONGVARCHAR},
      appr_user_time = #{apprUserTime,jdbcType=TIMESTAMP},
      aftersales_apply_time = #{aftersalesApplyTime,jdbcType=TIMESTAMP},
      aftersales_deal_time = #{aftersalesDealTime,jdbcType=TIMESTAMP},
      appraise_info = #{appraiseInfo,jdbcType=LONGVARCHAR},
      aftersales_reason = #{aftersalesReason,jdbcType=LONGVARCHAR},
      aftersales_result = #{aftersalesResult,jdbcType=LONGVARCHAR}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  
  <sql id="selectWhere">
    <where>
      <if test="params.userId != null">
        and o.user_id = #{params.userId,jdbcType=INTEGER}
      </if>
      <if test="params.goodsId != null">
        and o.goods_id = #{params.goodsId,jdbcType=INTEGER}
      </if>
      <if test="params.status != null">
        and LOCATE(o.status,#{params.status,jdbcType=VARCHAR}) &gt; 0
      </if>
      <if test="params.partnerId != null">
        and g.partner_id = #{params.partnerId,jdbcType=INTEGER}
      </if>
      <if test="params.goodsName != null">
        and g.goods_name = #{params.goodsName,jdbcType=VARCHAR}
      </if>
      <if test="params.orderId != null">
        and o.order_id = #{params.orderId,jdbcType=VARCHAR}
      </if>
      <if test="params.categoryId != null">
        and g.category_id = #{params.categoryId,jdbcType=INTEGER}
      </if>
      <if test="params.dispatchMode != null">
        and o.dispatch_mode = #{params.dispatchMode,jdbcType=VARCHAR}
      </if>
       <if test="params.postageId != null">
        and o.postage_id = #{params.postageId,jdbcType=INTEGER}
      </if>     
      <if test="params.appraiseStatus != null">
        and o.appraise_status = #{params.appraiseStatus,jdbcType=VARCHAR}
      </if> 
      <if test="params.beginCreateTime != null">
        and o.create_time &gt;= concat(#{params.beginCreateTime,jdbcType=VARCHAR},' 00:00:00')
      </if> 
      <if test="params.endCreateTime != null">
        and o.create_time &lt;= concat(#{params.endCreateTime,jdbcType=VARCHAR},' 23:59:59')
      </if> 
      <if test="params.beginSendTime != null">
        and o.send_time &gt;= concat(#{params.beginSendTime,jdbcType=VARCHAR},' 00:00:00')
      </if> 
      <if test="params.endSendTime != null">
        and o.send_time &lt;= concat(#{params.endSendTime,jdbcType=VARCHAR},' 23:59:59')
      </if> 
      <if test="params.beginSignTime != null">
        and o.sign_time &gt;= concat(#{params.beginSignTime,jdbcType=VARCHAR},' 00:00:00')
      </if> 
      <if test="params.endSignTime != null">
        and o.sign_time &lt;= concat(#{params.endSignTime,jdbcType=VARCHAR},' 23:59:59')
      </if>
      <if test="params.partnerStatus != null">
        and p.status = #{params.partnerStatus,jdbcType=CHAR}
      </if>
      <if test="params.goodsStatus != null">
        and g.status = #{params.goodsStatus,jdbcType=CHAR}
      </if>
    </where>
  </sql>
  
  <!-- 根据查询条件统计 -->
  <select id="countAll" parameterType="map" resultType="int">
    select count(1)
    from tb_order_info o 
     join tb_goods_info g on o.goods_id = g.goods_id 
     join tb_partner_basic p on g.partner_id = p.partner_id 
     join tb_user_basic u on o.user_id = u.user_id 
    <include refid="selectWhere" />
  </select>
  
  <!-- 根据查询条件统计 -->
  <select id="selectAll" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Column_List_Base" />
    <if test="params.needReceiver != null">
    ,<include refid="Column_List_Receiver" />
    </if>
    <if test="params.needLogistics != null">
    ,<include refid="Column_List_Logistics" />
    </if>
    <if test="params.needAppr != null">
    ,<include refid="Column_List_Appr" />
    </if>
    <if test="params.needAfterSales != null">
    ,<include refid="Column_List_AfterSales" />
    </if>
    <if test="params.needGoodsAndUser != null">
    ,<include refid="Column_List_GoodsAndUser" />
    </if>
    from tb_order_info o 
     join tb_goods_info g on o.goods_id = g.goods_id 
     join tb_partner_basic p on g.partner_id = p.partner_id 
     join tb_user_basic u on o.user_id = u.user_id 
    <include refid="selectWhere" />
    <if test="sorts != null">
     ${sorts}
    </if>
    limit #{pageCond.begin},#{pageCond.pageSize}
  </select>
  
  <select id="countPartibyStatus" parameterType="map" resultType="map">
   select o.status,count(1) cnt
   from tb_order_info o
   join tb_goods_info g on o.goods_id = g.goods_id 
   <where>
    <if test="userId != null">
     and o.user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="goodsId != null">
     and o.goods_id = #{goodsId,jdbcType=INTEGER}
    </if>
    <if test="partnerId != null">
     and g.partner_id = #{partnerId,jdbcType=INTEGER}
    </if>
   </where>
   group by o.status
  </select>
</mapper>

