<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mofangyouxuan.mapper.PartnerBasicMapper">
  <resultMap id="BaseResultMap" type="com.mofangyouxuan.model.PartnerBasic">
    <id column="partner_id" jdbcType="INTEGER" property="partnerId" />
    <result column="vip_id" jdbcType="INTEGER" property="vipId" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="busi_name" jdbcType="VARCHAR" property="busiName" />
    <result column="legal_pername" jdbcType="VARCHAR" property="legalPername" />
    <result column="legal_peridno" jdbcType="VARCHAR" property="legalPeridno" />
    <result column="comp_name" jdbcType="VARCHAR" property="compName" />
    <result column="comp_type" jdbcType="CHAR" property="compType" />
    <result column="licence_no" jdbcType="VARCHAR" property="licenceNo" />
    <result column="cert_dir" jdbcType="VARCHAR" property="certDir" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="location_x" jdbcType="DECIMAL" property="locationX" />
    <result column="location_y" jdbcType="DECIMAL" property="locationY" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="review_log" jdbcType="VARCHAR" property="reviewLog" />
    <result column="review_opr" jdbcType="INTEGER" property="reviewOpr" />
    <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime" />
  </resultMap>
  <sql id="Base_Column_List">
    partner_id, vip_id, country, province, city, area, addr, busi_name, legal_pername, legal_peridno, 
    comp_type, comp_name, licence_no, cert_dir, phone, location_x, location_y, introduce,status, 
    update_time, review_log, review_opr, review_time
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_partner_basic
    where partner_id = #{partnerId,jdbcType=INTEGER}
  </select>
 
  <select id="selectByBindUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_partner_basic
    where vip_id = #{vipId,jdbcType=INTEGER}
  </select>
   
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_partner_basic
    where partner_id = #{partnerId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.mofangyouxuan.model.PartnerBasic"  keyProperty="partnerId" useGeneratedKeys="true">
    insert into tb_partner_basic (partner_id, vip_id, country, 
      province, city, area, 
      addr, busi_name, legal_pername, 
      legal_peridno, comp_type,comp_name, licence_no, 
      cert_dir, phone, location_x, location_y, introduce,
      status, update_time, review_log, review_opr, review_time
      )
    values (#{partnerId,jdbcType=INTEGER}, #{vipId,jdbcType=INTEGER}, #{country,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{addr,jdbcType=VARCHAR}, #{busiName,jdbcType=VARCHAR}, #{legalPername,jdbcType=VARCHAR}, 
      #{legalPeridno,jdbcType=VARCHAR}, #{compType,jdbcType=CHAR},#{compName,jdbcType=VARCHAR}, #{licenceNo,jdbcType=VARCHAR}, 
      #{certDir,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{locationX,jdbcType=DECIMAL}, 
      #{locationY,jdbcType=DECIMAL},#{introduce,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{reviewLog,jdbcType=VARCHAR}, #{reviewOpr,jdbcType=INTEGER}, #{reviewTime,jdbcType=TIMESTAMP}
      )
  </insert>
 

  <update id="updateByPrimaryKey" parameterType="com.mofangyouxuan.model.PartnerBasic">
    update tb_partner_basic
    <set>
      <if test="vipId != null">
        vip_id = #{vipId,jdbcType=INTEGER},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="busiName != null">
        busi_name = #{busiName,jdbcType=VARCHAR},
      </if>
      <if test="legalPername != null">
        legal_pername = #{legalPername,jdbcType=VARCHAR},
      </if>
      <if test="legalPeridno != null">
        legal_peridno = #{legalPeridno,jdbcType=VARCHAR},
      </if>
      <if test="compType != null">
        comp_type = #{compType,jdbcType=CHAR},
      </if>      
      <if test="compName != null">
        comp_name = #{compName,jdbcType=VARCHAR},
      </if>
      <if test="licenceNo != null">
        licence_no = #{licenceNo,jdbcType=VARCHAR},
      </if>
      <if test="certDir != null">
        cert_dir = #{certDir,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null">
        location_x = #{locationX,jdbcType=DECIMAL},
      </if>
      <if test="locationY != null">
        location_y = #{locationY,jdbcType=DECIMAL},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>     
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewLog != null">
        review_log = #{reviewLog,jdbcType=VARCHAR},
      </if>
      <if test="reviewOpr != null">
        review_opr = #{reviewOpr,jdbcType=INTEGER},
      </if>
      <if test="reviewTime != null">
        review_time = #{reviewTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where partner_id = #{partnerId,jdbcType=INTEGER}
  </update>
  
</mapper>