<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mofangyouxuan.mapper.PartnerBasicMapper">
  <resultMap id="BaseResultMap" type="com.mofangyouxuan.model.PartnerBasic">
    <id column="partner_id" jdbcType="INTEGER" property="partnerId" />
    <result column="vip_id" jdbcType="INTEGER" property="vipId" />
    <result column="pb_Tp" jdbcType="VARCHAR" property="pbTp" />
    <result column="up_partnerId" jdbcType="INTEGER" property="upPartnerId" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="busi_name" jdbcType="VARCHAR" property="busiName" />
    <result column="legal_pername" jdbcType="VARCHAR" property="legalPername" />
    <result column="legal_peridno" jdbcType="VARCHAR" property="legalPeridno" />
    <result column="comp_name" jdbcType="VARCHAR" property="compName" />
    <result column="comp_type" jdbcType="CHAR" property="compType" />
    <result column="licence_no" jdbcType="VARCHAR" property="licenceNo" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="location_x" jdbcType="DECIMAL" property="locationX" />
    <result column="location_y" jdbcType="DECIMAL" property="locationY" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="update_opr" jdbcType="INTEGER" property="updateOpr" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="review_log" jdbcType="VARCHAR" property="reviewLog" />
    <result column="review_opr" jdbcType="VARCHAR" property="reviewOpr" />
    <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime" />
    <result column="score_logis" jdbcType="VARCHAR" property="scoreLogis" />
    <result column="score_serv" jdbcType="VARCHAR" property="scoreServ" />
    <result column="score_goods" jdbcType="VARCHAR" property="scoreGoods" />
   
  </resultMap>
  <sql id="Base_Column_List">
    partner_id, vip_id, pb_tp, up_partnerId, country, province, city, area, addr, busi_name, legal_pername, legal_peridno, 
    comp_type, comp_name, licence_no, phone, location_x, location_y, introduce,status, 
    update_opr, update_time, review_log, review_opr, review_time,score_logis,score_serv,score_goods
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_partner_basic
    where partner_id = #{partnerId,jdbcType=INTEGER}
  </select>
 
  <select id="selectByBindUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_partner_basic
    where vip_id = #{vipId,jdbcType=INTEGER}
  </select>
   
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_partner_basic
    where partner_id = #{partnerId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.mofangyouxuan.model.PartnerBasic"  keyProperty="partnerId" useGeneratedKeys="true">
    insert into tb_partner_basic (partner_id, vip_id, pb_tp, up_partnerId,
      country, province, city, area, 
      addr, busi_name, legal_pername, 
      legal_peridno, comp_type,comp_name, licence_no, 
      phone, location_x, location_y, introduce,
      status, update_opr, update_time, review_log, review_opr, review_time,
      score_logis,score_serv,score_goods
      )
    values (#{partnerId,jdbcType=INTEGER}, #{vipId,jdbcType=INTEGER}, #{pbTp,jdbcType=VARCHAR},#{upPartnerId,jdbcType=INTEGER},
      #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{addr,jdbcType=VARCHAR}, #{busiName,jdbcType=VARCHAR}, #{legalPername,jdbcType=VARCHAR}, 
      #{legalPeridno,jdbcType=VARCHAR}, #{compType,jdbcType=CHAR},#{compName,jdbcType=VARCHAR}, #{licenceNo,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{locationX,jdbcType=DECIMAL}, #{locationY,jdbcType=DECIMAL},
      #{introduce,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{updateOpr,jdbcType=INTEGER},#{updateTime,jdbcType=TIMESTAMP}, 
      #{reviewLog,jdbcType=VARCHAR}, #{reviewOpr,jdbcType=VARCHAR}, #{reviewTime,jdbcType=TIMESTAMP},
      #{scoreLogis,jdbcType=VARCHAR},#{scoreServ,jdbcType=VARCHAR},#{scoreGoods,jdbcType=VARCHAR}
      )
  </insert>

   <update id="updateByPrimaryKey" parameterType="com.mofangyouxuan.model.PartnerBasic">
    update tb_partner_basic
    set country = #{country,jdbcType=VARCHAR},
        province = #{province,jdbcType=VARCHAR},
        city = #{city,jdbcType=VARCHAR},
        area = #{area,jdbcType=VARCHAR},
        addr = #{addr,jdbcType=VARCHAR},
        busi_name = #{busiName,jdbcType=VARCHAR},
        legal_pername = #{legalPername,jdbcType=VARCHAR},
        legal_peridno = #{legalPeridno,jdbcType=VARCHAR},
        comp_type = #{compType,jdbcType=CHAR},
        comp_name = #{compName,jdbcType=VARCHAR},
        licence_no = #{licenceNo,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        location_x = #{locationX,jdbcType=DECIMAL},
        location_y = #{locationY,jdbcType=DECIMAL},
        introduce = #{introduce,jdbcType=VARCHAR},
        status = #{status,jdbcType=CHAR},
        update_opr = #{updateOpr,jdbcType=INTEGER},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        review_log = null,
        review_opr = null,
        review_time = null
    where partner_id = #{partnerId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.mofangyouxuan.model.PartnerBasic">
    update tb_partner_basic
    <set>
      <if test="vipId != null">
        vip_id = #{vipId,jdbcType=INTEGER},
      </if>
      <if test="pbTp != null">
        pb_tp = #{pbTp,jdbcType=VARCHAR},
      </if>
      <if test="upPartnerId != null">
        up_partnerId = #{upPartnerId,jdbcType=INTEGER},
      </if>      
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="busiName != null">
        busi_name = #{busiName,jdbcType=VARCHAR},
      </if>
      <if test="legalPername != null">
        legal_pername = #{legalPername,jdbcType=VARCHAR},
      </if>
      <if test="legalPeridno != null">
        legal_peridno = #{legalPeridno,jdbcType=VARCHAR},
      </if>
      <if test="compType != null">
        comp_type = #{compType,jdbcType=CHAR},
      </if>      
      <if test="compName != null">
        comp_name = #{compName,jdbcType=VARCHAR},
      </if>
      <if test="licenceNo != null">
        licence_no = #{licenceNo,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null">
        location_x = #{locationX,jdbcType=DECIMAL},
      </if>
      <if test="locationY != null">
        location_y = #{locationY,jdbcType=DECIMAL},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>     
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="updateOpr != null">
        update_opr = #{updateOpr,jdbcType=INTEGER},
      </if>      
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewLog != null">
        review_log = #{reviewLog,jdbcType=VARCHAR},
      </if>
      <if test="reviewOpr != null">
        review_opr = #{reviewOpr,jdbcType=VARCHAR},
      </if>
      <if test="reviewTime != null">
        review_time = #{reviewTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where partner_id = #{partnerId,jdbcType=INTEGER}
  </update>
  
  <update id="updateScore" parameterType="map">
    update tb_partner_basic p
     set p.score_logis = concat(ifnull(substring_index(p.score_logis,'/',1),0)+ #{scoreLogis,jdbcType=INTEGER} , '/' , ifnull(substring_index(p.score_logis,'/',-1),0)+1),
     p.score_serv = concat(ifnull(substring_index(p.score_serv,'/',1),0)+ #{scoreServ,jdbcType=INTEGER} , '/' , ifnull(substring_index(p.score_serv,'/',-1),0)+1),
     p.score_goods = concat(ifnull(substring_index(p.score_goods,'/',1),0)+ #{scoreGoods,jdbcType=INTEGER} , '/' , ifnull(substring_index(p.score_goods,'/',-1),0)+1)
    where p.partner_id = #{partnerId,jdbcType=INTEGER}
  </update>
  
  <sql id="whereSql">
    <where>
      <if test="params.vipId != null">
        and vip_id = #{params.vipId,jdbcType=INTEGER}
      </if>
      <if test="params.pbTp != null and params.pbTp != ''">
        and pb_tp = #{params.pbTp,jdbcType=VARCHAR}
      </if>
      <if test="params.upPartnerId != null">
        and up_partnerId = #{params.upPartnerId,jdbcType=INTEGER}
      </if>      
      <if test="params.country != null and params.country != ''">
        and country = #{params.country,jdbcType=VARCHAR}
      </if>
      <if test="params.province != null and params.province != ''">
        and province = #{params.province,jdbcType=VARCHAR}
      </if>
      <if test="params.city != null and params.city != ''">
        and city = #{params.city,jdbcType=VARCHAR}
      </if>
      <if test="params.area != null and params.area != ''">
        and area = #{params.area,jdbcType=VARCHAR}
      </if>
      <if test="params.addr != null and params.addr != ''">
        and addr = #{params.addr,jdbcType=VARCHAR}
      </if>
      <if test="params.busiName != null and params.busiName != ''">
        and busi_name = #{params.busiName,jdbcType=VARCHAR}
      </if>
      <if test="params.legalPername != null and params.legalPername != ''">
        and legal_pername = #{params.legalPername,jdbcType=VARCHAR}
      </if>
      <if test="params.legalPeridno != null and params.legalPeridno != ''">
        and legal_peridno = #{params.legalPeridno,jdbcType=VARCHAR}
      </if>
      <if test="params.compType != null and params.compType != ''">
        and comp_type = #{params.compType,jdbcType=CHAR}
      </if>      
      <if test="params.compName != null and params.compName != ''">
        and comp_name = #{params.compName,jdbcType=VARCHAR}
      </if>
      <if test="params.licenceNo != null and params.licenceNo != ''">
        and licence_no = #{params.licenceNo,jdbcType=VARCHAR}
      </if>
      <if test="params.phone != null and params.phone != ''">
        and phone = #{params.phone,jdbcType=VARCHAR}
      </if>     
      <if test="params.beginUpdateTime != null">
        and update_time &gt;= concat(#{params.beginUpdateTime,jdbcType=TIMESTAMP},' 00:00:00')
      </if>
      <if test="params.endUpdateTime != null">
        and update_time &lt;= concat(#{params.endUpdateTime,jdbcType=TIMESTAMP},' 23:59:59')
      </if>            
      <if test="params.status != null and params.status != ''">
        and LOCATE(status,#{params.status,jdbcType=CHAR}) &gt; 0
      </if>
    </where>
  </sql>
  
  <select id="selectAll" parameterType="map" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from tb_partner_basic 
     <include refid="whereSql" />
    <if test="sorts">
    ${sorts}
    </if>
    limit #{pageCond.begin},#{pageCond.pageSize} 
  </select>
  
  <select id="countAll" parameterType="map" resultType="int">
   select count(1) cnt
    from tb_partner_basic 
     <include refid="whereSql" />
  </select>
  
  
</mapper>

