<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mofangyouxuan.mapper.PostageMapper">
  <resultMap id="BaseResultMap" type="com.mofangyouxuan.model.Postage">
    <id column="postage_id" jdbcType="INTEGER" property="postageId" />
    <result column="partner_id" jdbcType="INTEGER" property="partnerId" />
    <result column="postage_name" jdbcType="VARCHAR" property="postageName" />
    <result column="is_city_wide" jdbcType="CHAR" property="isCityWide" />
    <result column="dist_limit" jdbcType="INTEGER" property="distLimit" />
    <result column="prov_limit" jdbcType="VARCHAR" property="provLimit" />
    <result column="is_free" jdbcType="CHAR" property="isFree" />
    <result column="free_weight" jdbcType="INTEGER" property="freeWeight" />
    <result column="free_amount" jdbcType="DECIMAL" property="freeAmount" />
    <result column="free_dist" jdbcType="INTEGER" property="freeDist" />
    <result column="first_dist" jdbcType="INTEGER" property="firstDist" />
    <result column="first_weight" jdbcType="INTEGER" property="firstWeight" />
    <result column="first_d_price" jdbcType="DECIMAL" property="firstDPrice" />
    <result column="first_w_price" jdbcType="DECIMAL" property="firstWPrice" />
    <result column="addition_weight" jdbcType="INTEGER" property="additionWeight" />
    <result column="addition_dist" jdbcType="INTEGER" property="additionDist" />
    <result column="addition_d_price" jdbcType="DECIMAL" property="additionDPrice" />
    <result column="addition_w_price" jdbcType="DECIMAL" property="additionWPrice" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_opr" jdbcType="INTEGER" property="updateOpr" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    postage_id, partner_id, postage_name, is_city_wide, dist_limit, prov_limit, is_free, 
    free_weight, free_amount, free_dist, first_dist, first_weight, first_d_price, first_w_price, 
    addition_weight, addition_dist, addition_d_price, addition_w_price, update_time, 
    update_opr, status
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_postage_tpl
    where postage_id = #{postageId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_postage_tpl
    where postage_id = #{postageId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.mofangyouxuan.model.Postage" keyProperty="postageId" useGeneratedKeys="true">
    insert into tb_postage_tpl (postage_id, partner_id, postage_name, 
      is_city_wide, dist_limit, prov_limit, 
      is_free, free_weight, free_amount, 
      free_dist, first_dist, first_weight, 
      first_d_price, first_w_price, addition_weight, 
      addition_dist, addition_d_price, addition_w_price, 
      update_time, update_opr, status
      )
    values (#{postageId,jdbcType=INTEGER}, #{partnerId,jdbcType=INTEGER}, #{postageName,jdbcType=VARCHAR}, 
      #{isCityWide,jdbcType=CHAR}, #{distLimit,jdbcType=INTEGER}, #{provLimit,jdbcType=VARCHAR}, 
      #{isFree,jdbcType=CHAR}, #{freeWeight,jdbcType=INTEGER}, #{freeAmount,jdbcType=DECIMAL}, 
      #{freeDist,jdbcType=INTEGER}, #{firstDist,jdbcType=INTEGER}, #{firstWeight,jdbcType=INTEGER}, 
      #{firstDPrice,jdbcType=DECIMAL}, #{firstWPrice,jdbcType=DECIMAL}, #{additionWeight,jdbcType=INTEGER}, 
      #{additionDist,jdbcType=INTEGER}, #{additionDPrice,jdbcType=DECIMAL}, #{additionWPrice,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateOpr,jdbcType=INTEGER}, #{status,jdbcType=CHAR}
      )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.mofangyouxuan.model.Postage">
    update tb_postage_tpl
    set partner_id = #{partnerId,jdbcType=INTEGER},
      postage_name = #{postageName,jdbcType=VARCHAR},
      is_city_wide = #{isCityWide,jdbcType=CHAR},
      dist_limit = #{distLimit,jdbcType=INTEGER},
      prov_limit = #{provLimit,jdbcType=VARCHAR},
      is_free = #{isFree,jdbcType=CHAR},
      free_weight = #{freeWeight,jdbcType=INTEGER},
      free_amount = #{freeAmount,jdbcType=DECIMAL},
      free_dist = #{freeDist,jdbcType=INTEGER},
      first_dist = #{firstDist,jdbcType=INTEGER},
      first_weight = #{firstWeight,jdbcType=INTEGER},
      first_d_price = #{firstDPrice,jdbcType=DECIMAL},
      first_w_price = #{firstWPrice,jdbcType=DECIMAL},
      addition_weight = #{additionWeight,jdbcType=INTEGER},
      addition_dist = #{additionDist,jdbcType=INTEGER},
      addition_d_price = #{additionDPrice,jdbcType=DECIMAL},
      addition_w_price = #{additionWPrice,jdbcType=DECIMAL},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_opr = #{updateOpr,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where postage_id = #{postageId,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPartner" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_postage_tpl
    where partner_id = #{partnerId,jdbcType=INTEGER} and status = '1'
  </select>  
  
  <select id="selectByPartnerAndName" parameterType="map" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
    from tb_postage_tpl
    where partner_id = #{partnerId,jdbcType=INTEGER} and postage_name =  #{postageName,jdbcType=VARCHAR}
  </select>
 
   <select id="countByPartner" parameterType="java.lang.Integer" resultType="int">
    select count(1)
    from tb_postage_tpl
    where partner_id = #{partnerId,jdbcType=INTEGER} and status = '1'
  </select>  
  
</mapper>

