<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mofangyouxuan.mapper.VipBasicMapper">
  <resultMap id="BaseResultMap" type="com.mofangyouxuan.model.VipBasic">
    <id column="vip_id" jdbcType="INTEGER" property="vipId" />
    <result column="scores" jdbcType="INTEGER" property="scores" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="freeze" jdbcType="DECIMAL" property="freeze" />
    <result column="is_partner" jdbcType="CHAR" property="isPartner" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    vip_id, scores, balance, freeze, is_partner, create_time, status
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_vip_basic
    where vip_id = #{vipId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_vip_basic
    where vip_id = #{vipId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.mofangyouxuan.model.VipBasic">
    insert into tb_vip_basic (vip_id, scores, balance, 
      freeze, is_partner, create_time, 
      status)
    values (#{vipId,jdbcType=INTEGER}, #{scores,jdbcType=INTEGER}, #{balance,jdbcType=DECIMAL}, 
      #{freeze,jdbcType=DECIMAL}, #{isPartner,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR})
  </insert>
 
  <update id="updateByPrimaryKey" parameterType="com.mofangyouxuan.model.VipBasic">
    update tb_vip_basic
    <set>
      <if test="scores != null">
        scores = #{scores,jdbcType=INTEGER},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="freeze != null">
        freeze = #{freeze,jdbcType=DECIMAL},
      </if>
      <if test="isPartner != null">
        is_partner = #{isPartner,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where vip_id = #{vipId,jdbcType=INTEGER}
  </update>

</mapper>